header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

header a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
