name: Build and Deploy to S3

on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build Angular project
        run: npm run build

      - name: Save build
        uses: actions/updload-artifact@master
        with:
          name: build
          path: dist/portifolio-web/
          if-no-files-found: error
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get build
        uses: actions/download-artifact@master
        with:
          name: build
          path: dist/portifolio-web/

      - name: Display structure of downloaded files
        run: ls -R

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to S3
        run: |
          aws s3 sync ./dist/portifolio-web/ s3://portifolio-lucas-matricarde/
